.signIn{
-fx-background-image:url('/src/main/java1/assetsin/java1/assets/Black-Texture-PC-Gaming-Wallpaper.png');
-fx-background-size:cover;
}
.loader{
-fx-background-image:url('/src/main/java1/assetsin/java1/assets/Black-Texture-PC-Gaming-Wallpaper.png');
-fx-background-size:cover;
}
.chatBox{
-fx-background-image:url('/src/main/java1/assetsin/java1/assets/Black-Texture-PC-Gaming-Wallpaper.png');
-fx-background-size:cover;
}

